<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Standardní informace">
  <ion-content class="padding">
    <div class="list">
        <span class="item">
            Počet splátek
            <span class="item-note">{{d.Term}}</span>
        </span>
        <span class="item">
            Týdenní splátka
            <span class="item-note">{{d.RegularInstalment | number}} Kč</span>
        </span>
        <span class="item">
            Poslední splátka
            <span class="item-note">{{d.FinalInstalment | number}} Kč</span>
        </span>
        <span class="item">
            Výše půjčky
            <span class="item-note">{{d.IssueValue | number}} Kč</span>
        </span>
        <span class="item">
            Poplatek
            <span class="item-note">{{d.TotalFee | number}} Kč</span>
        </span>
        <span class="item">
            Úrok
            <span class="item-note">{{d.Interest | number}} Kč</span>
        </span>
        <span class="item">
            Administrativní činnost
            <span class="item-note">{{d.AdministrationFee | number}} Kč</span>
        </span>
        <span class="item">
            Hotovostní inkaso splátek
            <span class="item-note">{{d.HomeCollectionFee | number}} Kč</span>
        </span>
        <span class="item">
            Celková dlužná částka
            <span class="item-note">{{d.TotalOwned | number}} Kč</span>
        </span>
        <span class="item">
            Celková splatná částka
            <span class="item-note">{{d.TotalPayable | number}} Kč</span>
        </span>
    </div>
      <button class="button button-block button-positive" ng-click="continue()">
        Zobrazit smlouvu
      </button>
  </ion-content>
</ion-view>
