<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="Produktová tabulka">
  <ion-content class="padding">
    <h2>{{ gl.term }} {{ gl.freq }} {{ gl.discount }}</h2>
   <input type="text" id="myProductRange" name="myProductRange" value="" />
    <div class="list">
        <span class="item" ng-repeat="row in table">
            {{ row.IssueValue | number }} Kč
            <span class="item-note"><a ng-click="issue(row.IssueValue, 'HC')" href="#" style="color: gray">{{ row.hc | number }} Kč hotovostní</a> | <a href="#" ng-click="issue(row.IssueValue, 'MT')" style="color: gray">{{ row.mt | number }} Kč bezhotovostní</a></span>
        </span>
    </div>
  </ion-content>



</ion-view>
