<ion-view view-title="Skóring - Nový zákazník">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Osobní údaje
      </div>
      <label class="item item-input">
        <span class="input-label">Rodné číslo</span>
        <input type="number" placeholder="Rodné číslo" ng-model="sc.pin" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Jméno</span>
        <input type="text" placeholder="Jméno" ng-model="sc.firstName"required>
      </label>
      <label class="item item-input">
        <span class="input-label">Příjmení</span>
        <input type="text" placeholder="Příjmení" ng-model="sc.lastName"required>
      </label>
      <label class="item item-input">
        <span class="input-label">Telefonní číslo</span>
        <input type="text" placeholder="Telefon" ng-model="sc.phone"required>
      </label>
      <div class="item item-divider">
        Druh zaměstnání
      </div>
      <ion-radio ng-repeat="item in empList" ng-value="item.value" ng-model="sc.emp" name="emp">{{item.text}}</ion-radio>
      <div class="item item-divider">
        Druh bydlení
      </div>
      <ion-radio ng-repeat="item in livList" ng-value="item.value" ng-model="sc.liv" name="liv">{{item.text}}</ion-radio>
      <div class="item item-divider">
        Doklad totožnosti
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'OP'" ng-model="sc.idt">Občanský průkaz</a>
        <a grouped-radio="'PP'" ng-model="sc.idt">Povolení k pobytu</a>
      </div>
      <label class="item item-input">
        <span class="input-label">Číslo dokladu</span>
        <input type="text" placeholder="Doklad" ng-model="sc.idn" required>
      </label>
      <div class="item item-divider">
        Credit Bureau
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'a'" ng-model="sc.cb">Ano</a>
        <a grouped-radio="'n'" ng-model="sc.cb">Ne</a>
        <a grouped-radio="'i'" ng-model="sc.cb">Info</a>
      </div>
      <div class="item item-divider">
        Finanční údaje
      </div>
      <label class="item item-input">
        <span class="input-label">Měsíční fixní příjem</span>
        <input type="number" placeholder="Měsíční fixní příjem" ng-model="sc.tmfi"required>
      </label>
      <label class="item item-input">
        <span class="input-label">Měsíční splátky</span>
        <input type="number" placeholder="Měsíční splátky" ng-model="sc.tmvi"required>
      </label>
      <label class="item item-input">
        <span class="input-label">Bankovní účet</span>
        <div class="button-bar padding">
          <a grouped-radio="'A'" ng-model="sc.bank">Ano</a>
          <a grouped-radio="'N'" ng-model="sc.bank">Ne</a>
        </div>
      </label>
    </div>
  </ion-content>
</ion-view> <!--
</div>

<li class="item item-toggle">
Majitel auta
<label class="toggle toggle-balanced">
<input type="checkbox" ng-model="sc.car">
<div class="track">
<div class="handle"></div>
</div>
</label>
</li>

</ul>
</div>
<div class="item item-body">
<div class="list">
<label class="item item-input item-select">
<div class="input-label">
Počet dětí
</div>
<select ng-model="sc.chi">
<option value="0" selected>0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6+</option>
</select>
</label>
<label class="item item-input">
<span class="input-label">ID Žádosti</span>
<input type="text" placeholder="ID leadu" ng-model="sc.id"required>
</label>
<label class="item item-input">
<span class="input-label">Půjčka</span>
<input type="number" placeholder="Výše požadované půjčky" ng-model="sc.req">
</label>
</div>
<button class="button button-block button-positive" ng-click="score(sc)">
Skórovat
</button>
</div>
</ion-content>
</ion-view>
-->
