<ion-view view-title="Skóring NC">
  <ion-content>
      <div class="item item-body">
        <div class="list">
  <label class="item item-input">
    <span class="input-label">Rodné číslo</span>
    <input type="number" placeholder="Rodné číslo" ng-model="sc.pin" required>
  </label>
  <label class="item item-input">
    <span class="input-label">Jméno</span>
    <input type="text" placeholder="Jméno" ng-model="sc.firstName"required>
  </label>
  <label class="item item-input">
    <span class="input-label">Příjmení</span>
    <input type="text" placeholder="Příjmení" ng-model="sc.lastName"required>
  </label>
  <label class="item item-input">
    <span class="input-label">Telefonní číslo</span>
    <input type="text" placeholder="Telefon" ng-model="sc.phone"required>
  </label>
  <label class="item item-input item-select">
      <div class="input-label">
          Druh zaměstnání
      </div>
      <select ng-model="sc.emp">
          <option value="PU" selected>Plný úvazek</option>
          <option value="CU">Částečný úvazek</option>
          <option value="DO">Důchodce</option>
          <option value="PO">OSVČ (podnikatel)</option>
          <option value="NE">Nezaměstnaný</option>
          <option value="ID">Invalidní důchodce</option>
          <option value="MD">Mateřská dovolená</option>
          <option value="IN">Jiný</option>
      </select>
  </label>
  <label class="item item-input item-select">
      <div class="input-label">
          Doklad totožnosti
      </div>
      <select ng-model="sc.idt">
          <option value="OP" selected>Občanský průkaz</option>
          <option value="PP">Povolení k pobytu</option>
      </select>
  </label>
  <label class="item item-input">
    <span class="input-label">Číslo dokladu</span>
    <input type="text" placeholder="Doklad" ng-model="sc.idn" required>
  </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Credit Bureau
                </div>
                <select ng-model="sc.cb">

                    <option value="a" selected>Ano</option>
                    <option value="n">Ne</option>
                    <option value="i">Informativní</option>
                </select>
            </label>
  <label class="item item-input">
    <span class="input-label">Měsíční fixní příjem</span>
    <input type="number" placeholder="Měsíční fixní příjem" ng-model="sc.tmfi"required>
  </label>
  <label class="item item-input">
    <span class="input-label">Měsíční splátky</span>
    <input type="number" placeholder="Měsíční splátky" ng-model="sc.tmvi"required>
  </label>
  </div>
  <ul class="list">

  <li class="item item-toggle">
     Bankovní účet
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="sc.bank">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
</div>
<div class="item item-body">
        <div class="list">
  <label class="item item-input item-select">
      <div class="input-label">
          Druh bydlení
      </div>
      <select ng-model="sc.liv">
          <option value="VL" selected>Vlastník</option>
          <option value="ZSR">Žije s rodiči</option>
          <option value="SVL">Spoluvlastník</option>
          <option value="NAJ">Nájemník</option>
          <option value="SPO">Spolubydlící / podnájemník</option>
          <option value="DD">Domov důchodců</option>
          <option value="UBY">Ubytovna</option>
          <option value="INE">Jiné</option>
      </select>
  </label>
  </div>
  <ul class="list">

  <li class="item item-toggle">
     Majitel auta
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="sc.car">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
</div>
      <div class="item item-body">
        <div class="list">
  <label class="item item-input item-select">
      <div class="input-label">
          Počet dětí
      </div>
      <select ng-model="sc.chi">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6+</option>
      </select>
  </label>
  <label class="item item-input">
    <span class="input-label">ID Žádosti</span>
    <input type="text" placeholder="ID leadu" ng-model="sc.id"required>
  </label>
  <label class="item item-input">
    <span class="input-label">Půjčka</span>
    <input type="number" placeholder="Výše požadované půjčky" ng-model="sc.req">
  </label>
  </div>
      <button class="button button-block button-positive" ng-click="score(sc)">
  Skórovat
</button>
      </div>
  </ion-content>
</ion-view>
