<ion-view view-title="Skóring">
  <ion-content>
      <div class="item item-body">
        <div class="list">
  <label class="item item-input">
    <span class="input-label">Rodné číslo</span>
    <input type="number" placeholder="Rodné číslo" ng-model="sc.pin" required>
  </label>
  <label class="item item-input">
    <span class="input-label">Občanský průkaz</span>
    <input type="text" placeholder="Číslo občanského průkazu" ng-model="sc.op"required>
  </label>
  </div>
  <ul class="list">

  <li class="item item-toggle">
     Telefon
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="sc.phone">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
</div>
      <div class="item item-body">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Zaměstnání
                </div>
                <select ng-model="sc.emp">
                    <option value="nz1">Částečný pracovní úvazek</option>
                    <option value="mz1">Hlavní pracovní úvazek</option>
                    <option value="mz6">Mateřská / rodičovská dovolená</option>
                    <option value="nz3">Nezaměstnaný</option>
                    <option value="nz4">Plný invalidní důchod</option>
                    <option value="mz2">Podnikatel</option>
                    <option value="mz3">Starovní důchodce</option>
                    <option value="mz4">Zaměstnanec</option>
                    <option value="mz5">OSVČ</option>
                </select>
            </label>
  <label class="item item-input">
    <span class="input-label">Půjčka</span>
    <input type="number" placeholder="Výše požadované půjčky" ng-model="sc.loan" required>
  </label>
  <label class="item item-input">
    <span class="input-label">ID kontaktu</span>
    <input type="text" placeholder="ID kontaktu ze zelené linky" ng-model="sc.id"required>
  </label>
  <label class="item item-input">
    <span class="input-label">Telefon</span>
    <input type="text" placeholder="Telefonní číslo" ng-model="sc.phonen">
  </label>
  <label class="item item-input">
    <span class="input-label">Jméno</span>
    <input type="text" placeholder="Jméno" ng-model="sc.name">
  </label>
  <label class="item item-input">
    <span class="input-label">Příjmení</span>
    <input type="text" placeholder="Příjmení" ng-model="sc.surname">
  </label>
  </div>
      <button class="button button-block button-positive" ng-click="score(sc)">
  Skórovat
</button>
      </div>
  </ion-content>
</ion-view>
