<ion-view view-title="Výsledková SMS">
  <ion-content>
    <div class="item item-body">
        <div class="list">
  <label class="item item-input">
    <span class="input-label">NC</span>
    <input type="number" placeholder="Počet NC" ng-model="sc.nc"required>
  </label>
  <label class="item item-input">
    <span class="input-label">OBN</span>
    <input type="number" placeholder="Počet OBN" ng-model="sc.obn"required>
  </label>
  <label class="item item-input">
    <span class="input-label">SUB</span>
    <input type="number" placeholder="Počet SUB" ng-model="sc.sub"required>
  </label>
  <label class="item item-input">
    <span class="input-label">REF</span>
    <input type="number" placeholder="Počet REF" ng-model="sc.ref"required>
  </label>
  <label class="item item-input">
    <span class="input-label">PU</span>
    <input type="number" placeholder="Počet PU" ng-model="sc.pu"required>
  </label>
  <label class="item item-input">
    <span class="input-label">SAL</span>
    <input type="number" placeholder="celkový objem prodejů" ng-model="sc.sal"required>
  </label>
  <label class="item item-input">
    <span class="input-label">COLL</span>
    <input type="number" placeholder="celkový objem výběrů" ng-model="sc.coll"required>
  </label>
  <label class="item item-input">
    <span class="input-label">VZ</span>
    <input type="number" placeholder="celkový počet vybraných zákazníků" ng-model="sc.vz"required>
  </label>
  </div>
  <hr>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">5+ cel</span>
                        <input type="number" ng-model="sc._5pc">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">5= cel</span>
                        <input type="number" ng-model="sc._5ec">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">8= cel</span>
                        <input type="number" ng-model="sc._8ec">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">12+ cel</span>
                        <input type="number" ng-model="sc._12pc">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">RIA cel</span>
                        <input type="number" ng-model="sc.riac">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">NRIA cel</span>
                        <input type="number" ng-model="sc.nriac">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">QC cel</span>
                        <input type="number" ng-model="sc.qcc">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">BTQ cel</span>
                        <input type="number" ng-model="sc.btqc">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">12&deg; cel</span>
                        <input type="number" ng-model="sc._12c">
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">5+ vyb</span>
                        <input type="number" ng-model="sc._5pv">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">5= vyb</span>
                        <input type="number" ng-model="sc._5ev">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">8= vyb</span>
                        <input type="number" ng-model="sc._8ev">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">12+ vyb</span>
                        <input type="number" ng-model="sc._12pv">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">RIA vyb</span>
                        <input type="number" ng-model="sc.riav">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">NRIA vyb</span>
                        <input type="number" ng-model="sc.nriav">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">QC vyb</span>
                        <input type="number" ng-model="sc.qcv">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">BTQ vyb</span>
                        <input type="number" ng-model="sc.btqv">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">12&deg; vyb</span>
                        <input type="number" ng-model="sc._12v">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">NC odh</span>
                        <input type="number" ng-model="sc.pNC">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">SAL odh</span>
                        <input type="number" ng-model="sc.pSA">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">COL odh</span>
                        <input type="number" ng-model="sc.pCO">
                    </label>
                </div>
            </div>
        </div>

      <button class="button button-block button-positive" ng-click="report(sc)">
          Odeslat reporting
        </button>
      </div>
  </ion-content>
</ion-view>
