<ion-view view-title="OZ Cockpit">
  <ion-content class="padding">
  <ion-refresher
    pulling-text="Obnovit..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <img src="img/logo.png" width="100%" on-double-tap="doLogout()" />
    <div class="list card">
      <div class="item item-divider">Vítejte, {{agent.name}}</div>
      <div class="item item-body">
        <div>
          Agentura <b>{{agent.agency.toString() | agencyId}}</b>, na pobočce <b>{{agent.branch}}</b>.
        </div>
      </div>
    </div>
    <div>
      <div class="list card">
        <div class="item item-divider">Obchodní výsledky{{month}}</div>
        <div class="item item-body">
          <div class="row">
            <div class="col"></div>
            <div class="col"><b>Plán</b></div>
            <div class="col"><b>Skutečnost</b></div>
          </div>
          <div class="row" ng-repeat="plan in plans">
            <div class="col" style="font-size: bigger;">{{plan.desc}}</div>
            <div class="col" style="font-size: bigger;">{{plan.plan | number:0}}</div>
            <div class="col" style="font-size: bigger;">{{plan.reality | number:0}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
