<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped tabs-color-light tabs-background-dark">


  <!-- Dashboard Tab -->
  <ion-tab title="Přehled" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Skóring" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/sms-scoring">
    <ion-nav-view name="tab-sms-scoring"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="PTP" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/ptp">
    <ion-nav-view name="tab-ptp"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Smlouva" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/ag">
    <ion-nav-view name="tab-ag"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Prodej" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Výsledky" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>



</ion-tabs>
