<ion-view view-title="Dohoda o snížených splátkách">
    <ion-content>
        <div class="item item-body">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">ID Zákaznika</span>
                    <input type="number" placeholder="ID zákazníka" ng-model="sc.cid" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Frekvence splátky
                    </div>
                    <select ng-model="sc.fr">
                        <option value="J" selected>Jednorázově</option>
                        <option value="M">Měsíčně</option>
                        <option value="T">Týdenně</option>
                        <option value="2T">Každý 2. týden</option>
                        <option value="4T">Každý 4. týden</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Splátka</span>
                    <input type="number" placeholder="Výše dohodnuté splátky" ng-model="sc.pay" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Datum konce</span>
                    <input type="date" placeholder="Konec dohody" ng-model="sc.end" required>
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="ptp(sc)">
                Odeslat
            </button>
        </div>
    </ion-content>
</ion-view>
