<ion-view view-title="Skóring">
  <ion-content>
    <div class="list">
      <ion-radio ng-repeat="item in scList" ng-value="item.value" ng-model="sc.type" name="type">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Osobní údaje
      </div>
      <label class="item item-input" ng-show="sc.type == 'NC'">
        <span class="input-label">Rodné číslo</span>
        <input type="number" ng-model="sc.pin" placeholder="zadávejte bez lomítka">
      </label>
      <label class="item item-input" ng-show="sc.type == 'RES'">
        <span class="input-label">Číslo zákazníka</span>
        <input type="text" ng-model="sc.cid">
      </label>
      <label class="item item-input">
        <span class="input-label">Jméno</span>
        <input type="text" ng-model="sc.firstName">
      </label>
      <label class="item item-input">
        <span class="input-label">Příjmení</span>
        <input type="text" ng-model="sc.lastName">
      </label>
      <label class="item item-input">
        <span class="input-label">Telefonní číslo</span>
        <input type="text" placeholder="420606123456" ng-model="sc.phone">
      </label>
      <div class="item item-divider item-positive">
        Finanční údaje
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Měs. fixní příjem žadatele</span>
        <input type="number" ng-model="sc.tmfi"required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Měs. fixní příjem domácnosti</span>
        <input type="number" ng-model="sc.mfih" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Měsíční splátky ext. půjček</span>
        <input type="number" ng-model="sc.tmvi"required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Odhadované měs. výdaje</span>
        <input type="number" ng-model="sc.eme" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Navrhovaná měs. splátka</span>
        <input type="number" ng-model="sc.pmi" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Požadovaná výše půjčky</span>
        <input type="number" ng-model="sc.req" required>
      </label>
      <div class="item item-divider item-positive">
        Doklad totožnosti
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'OP'" ng-model="sc.idt">Občanský průkaz</a>
        <a grouped-radio="'PP'" ng-model="sc.idt">Povolení k pobytu</a>
      </div>
      <label class="item item-input">
        <span class="input-label">Číslo dokladu</span>
        <input type="text" ng-model="sc.idn">
      </label>
      <div class="item item-divider item-positive">
        Druh zaměstnání
      </div>
      <ion-radio ng-repeat="item in empList" ng-value="item.value" ng-model="sc.emp" name="emp">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Druh bydlení
      </div>
      <ion-radio ng-repeat="item in livList" ng-value="item.value" ng-model="sc.liv" name="liv">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Rodinný stav
      </div>
      <ion-radio ng-repeat="item in maritalList" ng-value="item.value" ng-model="sc.mar" name="mar">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Dosažené vzdělání
      </div>
      <ion-radio ng-repeat="item in educationList" ng-value="item.value" ng-model="sc.edu" name="edu">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Credit Bureau
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'a'" ng-model="sc.cb">Ano</a>
        <a grouped-radio="'n'" ng-model="sc.cb">Ne</a>
        <a grouped-radio="'i'" ng-model="sc.cb">Info</a>
      </div>
      <div class="item item-divider item-positive">
        Bankovní účet
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'a'" ng-model="sc.bank">Ano</a>
        <a grouped-radio="'n'" ng-model="sc.bank">Ne</a>
      </div>
      <div class="item item-divider item-positive">
        Majitel auta
      </div>
      <div class="button-bar padding">
        <a grouped-radio="'a'" ng-model="sc.car">Ano</a>
        <a grouped-radio="'n'" ng-model="sc.car">Ne</a>
      </div>
      <div class="item item-divider item-positive">
        Počet vyživovaných osob
      </div>
      <ion-radio ng-repeat="item in childList" ng-value="item.value" ng-model="sc.chi" name="chi">{{item.text}}</ion-radio>
      <div class="item item-divider item-positive">
        Zelená linka / Žádosti o půjčku
      </div>
      <label class="item item-input">
        <span class="input-label">Lead ID (LID)</span>
        <input type="number" placeholder="nepovinný údaj, opište z LOAN SMS" ng-model="sc.id">
      </label>
      <button class="item button button-block button-balanced" ng-click="score(sc)">
        Skórovat
      </button>
    </div>
  </ion-content>
</ion-view>
