<ion-view view-title="Produktová tabulka">
  <ion-content>

    <div class="row">
      <div class="col center text-center">
        <button class="item button button-stable button-block" ng-click="goToIssue()">
          Vyhledat podle výše <strong>půjčky</strong>
        </button>
        <button class="item button button-block button-stable" ng-click="goToRepay()">
          Vyhledat podle výše <strong>splátky</strong>
        </button>
      </div>
    </div>
    <div class="row">
      <ion-list style="width: 100%">
        <div ng-repeat="cat in productCategories">
          <ion-item ng-click="toggleProductCategory(cat)"
            ng-class="{active: isProductCategoryShown(cat), 'item-balanced': cat.name.substring(0, 1) == 'Z', 'item-positive': cat.name.substring(0, 1) == 'M'}">
            <i class="icon" ng-class="isProductCategoryShown(cat) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{cat.name}}
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="prod in cat.products" ng-show="isProductCategoryShown(cat)" ng-click="showProductTable(prod)">
            {{prod.name}}<br />
            <strong>{{prod.term}} {{prod.termType | termType}}</strong>
          </ion-item>
        </div>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
